<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/zElog/css/form.css">
    <link rel="stylesheet" href="" id="btnThemeCss">
</head>
<body>
<div class="layui-tab layui-tab-brief" lay-filter="user">
    <div class="layui-tab-content">
        <!--搜索条件-->
        <form id="searchForm" class="buukle-data-form">
            <div class="buukle-search-name">
                <span class="form-span fuzzy-body">文章题目 : </span>
                <input id="fuzzy-index-0" class="buukle-input search-condition fuzzy-input" data-fuzzyUrl="/article/fuzzySearchArticleInfoByTitleForManager" type="text" name="name" placeholder="请输入文章题目" autocomplete="off">
            </div>
            <div id="searchTime" class="buukle-search-time">
                <span class="form-span">创建时间 :</span>
                <input id="startTime" class="buukle-input search-condition" type="text" name="startTime" placeholder="起始时间" autocomplete="off">
                <span class="form-span">--</span>
                <input id="endTime" class="buukle-input search-condition" type="text" name="endTime" placeholder="结束时间"  autocomplete="off">
            </div>
            <div class="buukle-select-father buukle-search-status">
                <span class="form-span">状态 :</span>
                <div>
                    <select id="status" class="buukle-select search-condition-select" style="margin-left: 50px;" name="state">
                        <option class="select-item" value="" data-status="">------------全部-----------</option>
                        <option class="select-item" value="0" data-status="0">------------封禁-----------</option>
                        <option class="select-item" value="1" data-status="1">----------审核通过---------</option>
                        <option class="select-item" value="3" data-status="3">---------发布待审核---------</option>
                        <option class="select-item" value="4" data-status="4">---------解禁待审核---------</option>
                        <option class="select-item" value="5" data-status="5">---------审核不通过---------</option>
                    </select>
                </div>
            </div>
            <br>
            <div id="pageLevelButton" class="pageLevelButton">
                <span class="layui-btn search-btn theme-btn" id="searchBtn" value="">搜索</span>
                <span class="layui-btn empty-btn layui-btn-primary" id="emptyBtn">清空</span>
            </div>
        </form>
        <!--模糊搜索-->
        <div class="fuzzySearchDiv" id="fuuzyDiv-id-0" data-fuuzyIndex="0"></div>
        <!--数据列表-->
        <div class="layui-tab-content">
            <table id="table" class="layui-table" lay-size="lg"></table>
        </div>
        <!--详情-->
        <div class="detail crud" id="detail" style="display: none;">
            <table class="data-table">
                <tr>
                    <td class="table-property-name">题目</td>
                    <td class="table-property-value">
                        <input type="text" disabled class="buukle-frame-input" id="title">
                    </td>
                    <td class="table-property-name">作者</td>
                    <td class="table-property-value">
                        <input type="text" disabled class="buukle-frame-input" id="ariticleAuthor">
                    </td>
                </tr>
                <tr>
                    <td class="table-property-name">创建时间</td>
                    <td class="table-property-value">
                        <input type="text" disabled class="buukle-frame-input" id="creatTime">
                    </td>
                    <td class="table-property-name">更新时间</td>
                    <td class="table-property-value">
                        <input type="text" disabled class="buukle-frame-input" id="updateTime">
                    </td>
                </tr>
                <tr>
                    <td class="table-property-name">赞数</td>
                    <td class="table-property-value">
                        <input type="text" disabled class="buukle-frame-input" id="likeNumber">
                    </td>
                    <td class="table-property-name">类别</td>
                    <td class="table-property-value">
                        <input type="text" disabled class="buukle-frame-input"  id="property01">
                    </td>
                </tr>
                <tr>
                    <td class="table-property-name">状态</td>
                    <td class="table-property-value">
                        <input type="text" disabled class="buukle-frame-input" id="state">
                    </td>
                    <td class="table-property-name">浏览量</td>
                    <td class="table-property-value">
                        <input type="text" disabled class="buukle-frame-input" id="property02">
                    </td>
                </tr>
                <tr>
                    <td class="table-property-name">摘要</td>
                    <td class="table-property-value">
                        <textarea type="text" disabled class="buukle-frame-textarea" id="articleDesc"></textarea>
                    </td>
                </tr>
            </table>
            <div class="buukle-frame-button" style="margin-top: 77px;">
                <button class="layui-btn layui-btn-primary layui-layer-close">返回</button>
            </div>
        </div>
        <!--修改-->
        <div class="detail crud" id="modify" style="display: none;">
            <table class="data-table">
                <tr>
                    <td class="table-property-name">题目</td>
                    <td class="table-property-value">
                        <input type="text" name="title" class="buukle-frame-input" id="modify-title">
                    </td>
                    <td class="table-property-name">类别</td>
                    <td class="table-property-value">
                        <input type="text" name="articleCat" class="buukle-frame-input" id="modify-property01">
                    </td>
                </tr>
                <tr>
                    <td class="table-property-name">摘要</td>
                    <td class="table-property-value"><textarea type="text" name="description" class="buukle-frame-textarea" id="modify-articleDesc"></textarea>
                    </td>
                </tr>
            </table>
            <div class="buukle-frame-button" style=" margin-top: 344px;">
                <button class="layui-btn layui-layer-close buukle-save-btn" data-form-id="addRoleForm" id="modifyArticle">
                    保存
                </button>
                <button class="layui-btn layui-btn-primary layui-layer-close">返回</button>
            </div>
        </div>
        <!--添加-->
        <div class="hiddenForm" id="add">
            <form id="addRoleForm" style="height: 312px;">
                <table class="data-table">
                    <tr>
                        <td class="table-property-name">题目</td>
                        <td class="table-property-value">
                            <input type="text" name="title" class="buukle-frame-input" id="add-title">
                        </td>
                        <td class="table-property-name">类别</td>
                        <td class="table-property-value">
                            <input type="text" name="articleCat" class="buukle-frame-input" id="add-property01">
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">摘要</td>
                        <td class="table-property-value">
                            <textarea type="text" name="description" class="buukle-frame-textarea" id="add-description"></textarea>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top: -106px;margin-left: 94px;">
                <button class="layui-btn back-button layui-layer-close saveBtn theme-btn" data-form-id="addArticleForm"
                        id="addRole">保存
                </button>
                <button class="layui-btn layui-btn-primary layui-layer-close back-button" id="cancelAddArticle">取消
                </button>
            </div>
        </div>
        <!--审核-->
        <div class="hiddenForm" id="audit">
            <form id="auditArticleForm" style="height: 312px;">
                <table class="data-table">
                    <tr>
                        <td class="table-property-name">题目</td>
                        <td class="table-property-value">
                            <input type="text" name="title" class="buukle-frame-input" id="audit-title">
                        </td>
                        <td class="table-property-name">类别</td>
                        <td class="table-property-value">
                            <input type="text" name="articleCat" class="buukle-frame-input" id="audit-property01"></td>
                    </tr>
                    <tr>
                        <td class="table-property-name">摘要</td>
                        <td class="table-property-value">
                            <textarea type="text" name="articleDesc"  class="buukle-frame-textarea" id="audit-articleDesc"></textarea>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top: -106px;margin-left: 32px;">
                <button class="layui-btn layui-btn-primary layui-layer-close back-button" id="cancelAuditArticle">取消
                </button>
                <button class="layui-btn back-button layui-layer-close buukle-ban-btn" id="auditBanArticle">不通过</button>
                <button class="layui-btn back-button layui-layer-close saveBtn theme-btn" id="auditPassArticle">通过</button>
            </div>
        </div>
    </div>
    <!--HIDDEN-->
    <input type="hidden" id="currentRecordId"/>
</div>
<script src="/static/mods/jquery-3.3.1.min.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/static/zElog/js/util/component.js"></script>
<script src="/static/zElog/js/article/managerArticle/managerArticleList.js"></script>
</body>
</html>