.layui-main {
    width: 100%;
    padding: 105px 0;
    background-color: #fff;
}
.layui-main .layui-icon {
    font-size: 300px;
    width: 300px;
    margin: 0 auto;
}
.layui-main .layui-text {
    font-size: 20px;
    font-weight: 300;
    color: #999;
    text-align: center;
}