<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Buukle</title>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/sweetAlert/css/sweetalert.css">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="" id="themeCss">
    <link rel="stylesheet" href="/static/css/index.css?v=2">
    <link rel="stylesheet" href="/static/zElog/css/form.css">
    <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
    <div class="layui-layout layui-layout-admin buukle-headImage-theme">
        <div class="layui-header layui-theme-black" style="border-bottom: 1px solid #30070724;">
            <div class="buukle-logo">
                <img src="/static/images/logo.png">
            </div>
            <div class="layui-shrink-sidebar layui-layout-left">
                <i class="fa fa-bars"></i>
            </div>
            <ul class="layui-nav layui-layout-right" lay-filter="navbar"></ul>
        </div>

        <div class="layui-side layui-theme-black buukle-sideImage-theme">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="side"></ul>
            </div>
        </div>

        <div class="layui-tab layui-theme-black" lay-allowClose="true" lay-filter="content">
            <ul class="layui-tab-title">
                <li class="layui-this">欢迎使用~</li>
            </ul>
            <div class="page-operat">
                <ul class="layui-nav">
                    <li class="layui-nav-item">
                        <a href="javascript:void(0);">页面操作</a>
                        <dl class="layui-nav-child"> <!-- 二级菜单 -->
                            <dd><a href="javascript:void(0);" class="layui-reload">刷新页面</a></dd>
                            <dd><a href="javascript:void(0);" class="layui-close-othertab">关闭其他</a></dd>
                            <dd><a href="javascript:void(0);" class="layui-close-alltab">关闭所有</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-body layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe src="/toMain/explain/explain" frameborder="0"></iframe>
                </div>
            </div>
            <span>京ICP证18025122号 </span>
            <img width="13" height="16" src="/static/images/copy_rignt_24.png">
        </div>
    </div>
    <div id="hiddenResource" style="display: none">
        <!--用户在用主题-->
        <input type="hidden" id="currentDBTheme">
        <!--main tab页面主题-->
        <input type="hidden" id="userTheme">
        <!--middle theme 未保存的主题-->
        <input type="hidden" id="tempTheme">
        <!--登出标志-->
        <input type="hidden" id="isLogout" value="isLogout">
    </div>
    <script src="/static/mods/jquery-3.3.1.min.js"></script>
    <script src="/static/sweetAlert/js/sweetalert.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/zElog/js/index/index.js"></script>
</body>
</html>