.buukle-logo{
    padding-top: 6px;
    padding-left: 14px;
    width: 137px;
}
.buukle-nav-container{
    margin-left: 32px !important;
}
.buukle-two-grade-module{
    position: fixed !important;
    height: 100%;
    margin-left: -105px;
    z-index: 9;
}
.buukle-main-panel{
    width: 98% !important;
    margin-left: 107px !important;
    min-height: 700px;
}
.listForm{
    margin-top: 18px;
    width: 140px;
}
.buukle-input{
    width: 164px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #c1c2c6;
    margin-top: 20px;
}
.buukle-frame-input{
    width: 164px;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #c1c2c6;
}
.form-span{
    font-family: SimHei;
    margin-top: 10px;
}
.pageLevelButton{
    margin-top: 18px;
    float: left;
    width: 1000px;
    text-align: center;
    margin-bottom: 14px;
}
.search-btn{
    width: 70px;
    height: 33px;
    margin-top: 9px;
}
.empty-btn{
    height: 33px;
    margin-top: 9px;
}
.buukle-select-father{
    margin-top: 26px;
    float: left;
}
.buukle-select{
    border-radius: 3px;
    border: 1px solid #c1c2c6;
    height: 29px;
    width: 166px;
    margin-top: -22px;
    float: left;
    margin-left: 60px;
}
.fuzzySearchDiv{
    width: 164px;
    float: left;
    margin-left: -921px !important;
    max-height: 75px;
    overflow: auto;
    display: none;
    /*border: 1px solid whitesmoke;*/
}
.fuzzyItem{
    height: 17px;
    text-align: center;
    width: 133px;
    /*模糊栏 不换行*/
    display: inline-table;
    background-color: whitesmoke;
}
.layui-table-body {
    background-color: white !important;
    position: relative!important;
    overflow: auto!important;
    margin-right: -1px!important;
}
.table-property-name{
    padding-right: 12px;
    text-align: right;
}
.table-property-value{
    width: 179px;
    text-align: left;
}
.data-table{
    width: 700px;
}
.data-table tr{
    line-height: 3.2
}
.data-article-table{
    margin-left: 26px;
    width: 227px;
    height: 281px;
}
.back-button{
    margin-left: 324px;
    margin-top: 230px;
    position: unset !important;
}
.buukle-frame-button{
    margin-top: 207px;
    text-align: center;
}
.hiddenForm{
    display: none;
}
.btn-selected{
    display: none;
}
.buukle-zTree{
    width: 860px;
    height:300px;
    overflow:auto;
    margin-left: 80px !important;
}
.roleListContains{
    width: 809px;
    margin-top: 33px;
    margin-left: 74px;
}
.buukle-frame-bottom{
    margin-top: 155px;
    margin-left: 94px;
}
.buukle-save-btn{
    margin-left: -70px;
    background-color: #5f9f5f;
}
.buukle-ban-btn{
    background-color: #dc8989;
}
.buukle-frame-textarea{
    resize: none;
    width: 163px;
    height: 171px;
}
.buukle-article-div{
    float: left;
    margin-left: 256px;
    width: 686px;
    margin-top: -270px;
    height: 341px;
}
.buukle-data-form{
    margin-top: -35px;
}
.buukle-table-btn{
    margin-left: 4px !important;
}
.buukle-search-time{
    float: left;
}
.buukle-search-name{
    float: left;
}
.buukle-search-status{
    float: left;
}
.buukle-panel-table{
    width: 280px !important;
    min-height: 250px !important;
    float: left;
    margin-left: 32px;
}
.buukle-panel-table-th{
    text-align: center !important;
}
.right-top-btn{
    margin-left: -33px;
    width: 90px;
    margin-top: 0px;
    height: 33px;
    position: fixed;
}
.lay-msg{
    height: 10px !important;
}
.buukle-choose-father-tree-btn{
    position: fixed !important;
    margin-top: 220px;
    margin-left: 217px;
}
.buukle-right-padel{
    float: left;
    width: 654px;
    margin-top: -254px;
    margin-left: 288px;
}
.buukle-left-tree{
    width: 301px;
}
.buukle-left-tree-div{
    width: 140px;
    height: 800px;
    float: left;
    margin-top: 54px;
}
.buukle-right-padel-div{
    width: 100%;
    height: 800px;
}
.buukle-right-padel-page-btn{
    margin-left: 696px !important;
}
.required{
    color: red;
}