<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/zElog/css/form.css">
    <link rel="stylesheet" href="" id="btnThemeCss">
</head>
<body>
<div class="buukle-left-tree-div">
    <div id="articleCatTree" >
        <div id="articleCatDiv">
            <div id="articleCatTreeContain"></div>
        </div>
    </div>
</div>
<div class="buukle-right-padel-div">
    <div id="pageLevelBtn">
    </div>
    <table class="layui-table buukle-panel-table layui-anim-upbit layui-anim" style="width: 730px !important;">
        <colgroup>
            <col width="150">
            <col width="300">
        </colgroup>
        <thead>
        <tr>
            <th colspan="2">
                <span>节点详情:</span>
                <span id="nodeName"  style="color: lightseagreen"><span style="color: red">请点击左侧文章分类树查看文章分类节点</span></span>
            </th>
        </tr>
        </thead>
        <tbody id="detail" style="display: none">
        <tr>
            <td>操作</td>
            <td id="handle">
                <div id="tableLevelBtn" style="margin-left: 426px !important;">
                    <span style="color: red">您没有操作权限</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>名称</td>
            <td id="articleCat">Buukle</td>
        </tr>
        <tr>
            <td>创建者</td>
            <td id="creator">elvin</td>
        </tr>
        <tr>
            <td>创建时间</td>
            <td id="gmtCreated">2017-10-25 10:45:54</td>
        </tr>
        <tr>
            <td>更新者</td>
            <td id="updateBy">elvin</td>
        </tr>
        <tr>
            <td>更新时间</td>
            <td id="updateTime">2017-10-25 10:45:54</td>
        </tr>
        <tr>
            <td>描述</td>
            <td id="desc"></td>
        </tr>
        </tbody>
    </table>
    <!--添加-->
    <div class="hiddenForm" id="add">
        <form id="addCategoryForm" style="height: 312px;">
            <table class="data-table">
                <tr>
                    <td class="table-property-name"><em class="required">*</em>分类名称 :</td>
                    <td class="table-property-value">
                        <input placeholder="汉字,字母,长度小于30" type="text" id="addArticleCat" class="buukle-frame-input add-input buukle-validate" name="articleCat">
                    </td>
                    <td class="table-property-name"><em class="required">*</em>状态 :</td>
                    <td class="table-property-value">
                    <select id="addStatus" class="buukle-frame-input btn-layer-type-selector selector add-input buukle-validate" name="bak01">
                        <option class="select-item" value="" data-status="">------------请选择-------------</option>
                        <option class="select-item" value="1" data-status="1">-------------启用--------------- </option>
                        <option class="select-item" value="0" data-status="0">-------------停用--------------- </option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td class="table-property-name"><em class="required">*</em>父级分类 :</td>
                    <td class="table-property-value">
                        <input type="text" class="buukle-validate buukle-frame-input add-input" id="fatherCat">
                        <input type="hidden" id="pid" name="pid">
                    </td>
                    <td class="table-property-name">分类描述 :</td>
                    <td class="table-property-value">
                        <textarea class="layui-textarea add-input" name="description" id="articleCatDescTextarea"></textarea>
                    </td>
                </tr>
            </table>
        </form>
        <div style="margin-top: -106px;margin-left: 94px;">
            <button class="layui-btn back-button saveBtn theme-btn" data-form-id="addCategoryForm" id="addCategory">
                保存
            </button>
            <button class="layui-btn layui-btn-primary layui-layer-close back-button" id="cancelAddCategory">取消</button>
        </div>
    </div>
    <!--父级分类树-->
    <div class="hiddenForm" id="fatherCategoryTree">
        <div id="articleCats" style="float:left">
            <div id="fatherCatTreeContain"></div>
        </div>
        <div>
            <button style="margin-left: 80px !important;" class="layui-btn layui-layer-close buukle-choose-father-tree-btn theme-btn" data-form-id="yes" id="yes">确定</button>
        </div>
    </div>
</div>
    <script src="/static/mods/jquery-3.3.1.min.js"></script>
    <script src=" /static/ztree/js/jquery.ztree.core.js"></script>
    <script src=" /static/ztree/js/jquery.ztree.excheck.js"></script>
    <script src=" /static/ztree/js/jquery.ztree.exedit.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/zElog/js/util/component.js"></script>
    <script src="/static/zElog/js/util/panelPageCommon.js"></script>
    <script src="/static/zElog/js/article/category/categorylist.js"></script>
</body>
</html>