.buukle-privateSet-theme{
    color: #000  !important;
}
.search-btn {
    width: 70px;
    height: 33px;
    margin-top: 9px;
    background-color: #663064a8 !important;
}
.layui-nav-tree .layui-nav-bar {
    width: 5px;
    height: 0;
    background-color: #ffffff5c;
}
.buukle-headImage-theme{
    background-image: url(/static/images/theme-background-img/theme-winter.jpg);
}
.buukle-sideImage-theme{
    background-image: url(/static/images/theme-background-img/theme-winter.jpg);
}
.layui-theme-black .layui-tab-title .layui-this {
    background: #19151521;
    color: black !important;
    border-left: 1px solid #ccbebe;
    border-right: 1px solid #ccbebe;
}
.layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
    background-color: #c73dab36 !important;
    color: white !important;
}

.layui-nav .layui-nav-item a{
    display: block;
    padding: 0 20px;
    color: rgb(73, 0, 43);
    transition: all .3s;
    -webkit-transition: all .3s;
}
.theme-btn{
    background-color: #6b366aba !important;
}