<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>列表</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/css/public.css">
  <link rel="stylesheet" href="/static/css/list.css">
  <link rel="stylesheet" href="/static/zElog/css/form.css">
  <link rel="stylesheet" href="" id="btnThemeCss">
</head>
<body>
<div class="layui-tab layui-tab-brief" lay-filter="user">
  <div class="layui-tab-content">
    <div class="layui-tab-content" style="padding: 20px 0;">
      <div class="layui-tab-item layui-show">
        <ul class="mine-view jie-row">
          <li>
            <a class="jie-title" href="../jie/detail.html" target="_blank">欢迎使用Buukle</a>
          </li>
        </ul>
        <div id="LAY_page"></div>
      </div>
    </div>
  </div>
</div>
<script src="/static/mods/jquery-3.3.1.min.js"></script>
<script src=" /static/ztree/js/jquery.ztree.core.js"></script>
<script src=" /static/ztree/js/jquery.ztree.excheck.js"></script>
<script src=" /static/ztree/js/jquery.ztree.exedit.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/static/zElog/js/util/component.js"></script>
</body>
</html>