<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


    <dubbo:application name="buukle-consumer-cms" owner="${dubbo.owner}"/>

    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.center}" />

   <!-- <dubbo:protocol name="dubbo" port="${dubbo.port}" threadpool="cached" threads="1000" accepts="2000" serialization="java" />

    <dubbo:protocol name="rest" port="${dubbo.rest.port}" threads="500" server="jetty" accepts="500" />-->

    <!--=====================================================发布服务======================================================-->

    <!-- ____________________________________________________ rest ____________________________________________________ -->
    <!--<bean id="restUserService" class="top.buukle.provider.mc.service.rest.RestUserServiceImpl" />
    &lt;!&ndash;发布 restUserService rest 服务接口&ndash;&gt;
    <dubbo:service protocol="rest" interface="top.buukle.api.mc.rest.UserService" ref="restUserService" version="1.0.1" group="buukle-mc-provider" timeout="${dubbo.timeout}"> </dubbo:service>-->
    <!-- __________________________________________________ dubbo rpc _________________________________________________ -->

    <!--<bean id="userService" class="top.buukle.provider.mc.service.impl.UserServiceImpl" />
    &lt;!&ndash;发布 userService rpc 服务接口&ndash;&gt;
    <dubbo:service protocol="dubbo" interface="top.buukle.api.mc.UserService" ref="userService" version="1.0.1" group="buukle-mc-provider" timeout="${dubbo.timeout}"> </dubbo:service>-->

    <!--=====================================================引入服务======================================================-->
    <!--引用 mc userService dubbo协议服务 -->
    <dubbo:reference id="userService" interface="top.buukle.api.inner.mc.UserService" version="1.0.1" group="buukle-mc" check="false"/>

</beans>