<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/zElog/css/form.css">
    <link rel="stylesheet" href="" id="btnThemeCss">
</head>
<body>
<div class="layui-tab layui-tab-brief" lay-filter="user">
    <div class="layui-tab-content">
        <!--搜索条件-->
        <form id="searchForm" class="buukle-data-form">
            <div class="buukle-search-name">
                <span class="form-span fuzzy-body">菜单名称 : </span>
                <input id="fuzzy-index-0" class="buukle-input search-condition fuzzy-input" data-fuzzyUrl="/module/fuzzySearchModuleInfoByModuleName" type="text" name="name" placeholder="请输入菜单名称" autocomplete="off">
            </div>
            <div id="searchTime" class="buukle-search-time">
                <span class="form-span">创建时间 :</span>
                <input id="startTime" class="buukle-input search-condition" type="text" name="startTime" placeholder="起始时间" autocomplete="off">
                <span class="form-span">--</span>
                <input id="endTime" class="buukle-input search-condition" type="text" name="endTime" placeholder="结束时间" autocomplete="off">
            </div>
            <div class="buukle-select-father buukle-search-status">
                <span class="form-span">状态 :</span>
                <div>
                    <select id="status" class="buukle-select search-condition-select" name="state">
                        <option class="select-item" value="" data-status="">------------请选择-------------</option>
                        <option class="select-item" value="1" data-status="1">-------------启用---------------</option>
                        <option class="select-item" value="0" data-status="0">-------------停用---------------</option>
                    </select>
                </div>
            </div>
            <br>
            <div id="pageLevelButton" class="pageLevelButton">
                <span class="layui-btn search-btn theme-btn" id="searchBtn" value="">搜索</span>
                <span class="layui-btn empty-btn layui-btn-primary" id="emptyBtn">清空</span>
            </div>
        </form>
        <!--模糊搜索-->
        <div class="fuzzySearchDiv" id="fuuzyDiv-id-0" data-fuuzyIndex="0"></div>
        <!--数据列表-->
        <div class="layui-tab-content">
            <table id="table" class="layui-table"></table>
        </div>
        <!--CRUD START-->
        <!--详情-->
        <div class="hiddenForm" id="detail">
            <table class="data-table">
                <tr>
                    <td class="table-property-name">菜单名称</td>
                    <td class="table-property-value"><input type="text" disabled class="buukle-frame-input "
                                                            id="moduleName"></td>
                    <td class="table-property-name">状态</td>
                    <td class="table-property-value"><input type="text" disabled class="buukle-frame-input "
                                                            id="moduleStatus"></td>
                </tr>
                <tr>
                    <td class="table-property-name">创建时间</td>
                    <td class="table-property-value"><input type="text" disabled class="buukle-frame-input "
                                                            id="gmtCreated"></td>
                    <td class="table-property-name">更新时间</td>
                    <td class="table-property-value"><input type="text" disabled class="buukle-frame-input "
                                                            id="modifiedTime"></td>
                </tr>
                <tr>
                    <td class="table-property-name">创建者</td>
                    <td class="table-property-value"><input type="text" disabled class="buukle-frame-input " id="creator">
                    </td>
                    <td class="table-property-name">更新者</td>
                    <td class="table-property-value"><input type="text" disabled class="buukle-frame-input "
                                                            id="modifior"></td>
                </tr>
                <tr>
                    <td class="table-property-name">描述</td>
                    <td class="table-property-value"><textarea disabled class="layui-textarea"
                                                               id="description"></textarea></td>
                </tr>
            </table>
            <div class="buukle-frame-button">
                <button type="" class="layui-btn layui-btn-primary layui-layer-close ">返回</button>
            </div>
        </div>
        <!--CRUD START-->
        <!--添加页面-->
        <div class="hiddenForm" id="add">
            <form id="addModuleForm">
                <table class="data-table">
                    <tr>
                        <td class="table-property-name">所属父模块 :</td>
                        <td class="table-property-value">
                            <input id="fatherModuleName" type="text" class="buukle-frame-input add-input" readonly>
                            <input id="pid" type="hidden" name="pid" class="add-input" readonly>
                        </td>
                        <td class="table-property-name">模块名称 :</td>
                        <td class="table-property-value"><input type="text" class="buukle-frame-input add-input"
                                                                name="moduleName"></td>
                    </tr>
                    <tr>
                        <td class="table-property-name">模块图标 :</td>
                        <td class="table-property-value"><input type="text" class="buukle-frame-input add-input"
                                                                name="moduleImg"></td>
                        <td class="table-property-name">url :</td>
                        <td class="table-property-value"><input type="text" class="buukle-frame-input add-input"
                                                                name="url"></td>
                    </tr>
                    <tr>
                        <td class="table-property-name">模块类型 :</td>
                        <td class="table-property-value">
                            <select name="moduleType" id="moduleType"
                                    class="buukle-frame-input module-type-selector selector add-input">
                                <option value="">-------------请选择---------</option>
                                <option value="0">-------------菜单-------------</option>
                                <option value="1">-------------按钮-------------</option>
                            </select>
                        </td>
                        <td class="table-property-name">状态 :</td>
                        <td class="table-property-value">
                            <select id="addStatus" class="buukle-frame-input btn-layer-type-selector selector add-input"
                                    name="status">
                                <option class="select-item" value="" data-status="">------------请选择-------------</option>
                                <option class="select-item" value="1" data-status="1">-------------启用---------------
                                </option>
                                <option class="select-item" value="0" data-status="0">-------------停用---------------
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr class="btn-selected">
                        <td class="table-property-name ">按钮响应类型 :</td>
                        <td class="table-property-value ">
                            <select name="buttonResponseType"
                                    class="buukle-frame-input btn-layer-type-selector selector add-input btn-select-item">
                                <option value="">-------------请选择---------</option>
                                <option value="0">-------提示确认框-------</option>
                                <option value="1">---弹层页面取接口数据----</option>
                                <option value="2">---弹层页面不取接口数据---</option>
                            </select>
                        </td>
                        <td class="table-property-name">按钮级别 :</td>
                        <td class="table-property-value">
                            <select name="buttonLayoutLevel"
                                    class="buukle-frame-input btn-layer-type-selector selector add-input btn-select-item">
                                <option value="">-------------请选择---------</option>
                                <option value="0">-----------页面级别---------</option>
                                <option value="1">-----------列表级别---------</option>
                            </select>
                        </td>
                    </tr>
                    <tr class="btn-selected">
                        <td class="table-property-name btn-selected">按钮操作类型 :</td>
                        <td class="table-property-value ">
                            <select name="buttonOperationType"
                                    class="buukle-frame-input btn-operate-type-selector selector add-input btn-select-item">
                                <option value="">-------------请选择---------</option>
                                <option value="0">-------------添加------------</option>
                                <option value="1">-------------删除------------</option>
                                <option value="2">-------------修改---------</option>
                                <option value="3">-------------详情------------</option>
                                <option value="4">-------------申请启用---------</option>
                                <option value="5">-------------审核------------</option>
                                <option value="6">-------------起/停用-----------</option>
                                <option value="7">-------------分配角色---------</option>
                                <option value="8">-------------分配菜单---------</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="table-property-name">模块描述 :</td>
                        <td class="table-property-value">
                            <textarea class="layui-textarea add-input" id="moduleDescTextarea"
                                      name="description"></textarea>
                        </td>
                    </tr>
                </table>
            </form>
            <div style="margin-top: -106px;margin-left: 94px;">
                <button class="layui-btn back-button layui-layer-close saveBtn theme-btn" data-form-id="addModuleForm"
                        id="addModule">保存
                </button>
                <button class="layui-btn layui-btn-primary layui-layer-close back-button">取消</button>
            </div>
        </div>
        <!--父级菜单树-->
        <div class="hiddenForm" id="fatherModuleTree">
            <div style="float: left">
                <div id="fatherModuleTreeContain"></div>
            </div>
            <div>
                <button style="margin-left: 102px;" class="layui-btn layui-layer-close buukle-choose-father-tree-btn back-button saveBtn theme-btn" data-form-id="yes" id="yes">确定</button>
            </div>
        </div>
    </div>
</div>
<script src="/static/mods/jquery-3.3.1.min.js"></script>
<script src=" /static/ztree/js/jquery.ztree.core.js"></script>
<script src=" /static/ztree/js/jquery.ztree.excheck.js"></script>
<script src=" /static/ztree/js/jquery.ztree.exedit.js"></script>
<script src="/static/layui/layui.js"></script>
<script src="/static/zElog/js/util/component.js"></script>
<script src="/static/zElog/js/permission/module/moduleList.js"></script>
</body>
</html>
