<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">


<dubbo:application name="buukle-provider-mc" owner="${dubbo.owner}"/>

    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.center}"/>

    <dubbo:protocol name="dubbo" port="${dubbo.port}" threadpool="cached" threads="1000" accepts="2000" serialization="java"/>

    <dubbo:protocol name="rest" extension="top.buukle.common.exception.GlobalExceptionMapper" threads="500" port="${dubbo.rest.port}" server="jetty" accepts="500"/>

    <!-- ================================================== rest ======================================================== -->

    <!--声明&发布 restUserService rest 服务接口-->
    <bean id="restUserService" class="top.buukle.provider.mc.service.rest.RestUserServiceImpl"/>
    <dubbo:service protocol="rest" filter="dubboxGlobalFilter" interface="top.buukle.api.inner.mc.rest.UserService" ref="restUserService" version="1.0.1" group="buukle-mc" timeout="${dubbo.timeout}"> </dubbo:service>

    <!--声明&发布 restModuleService rest 服务接口-->
    <bean id="restModuleServiceImpl" class="top.buukle.provider.mc.service.rest.RestModuleServiceImpl"/>
    <dubbo:service protocol="rest" filter="dubboxGlobalFilter" interface="top.buukle.api.inner.mc.rest.ModuleService" ref="restModuleServiceImpl" version="1.0.1" group="buukle-mc" timeout="${dubbo.timeout}"> </dubbo:service>

    <!--声明&发布 restButtonService rest 服务接口-->
    <bean id="restButtonServiceImpl" class="top.buukle.provider.mc.service.rest.RestButtonServiceImpl"/>
    <dubbo:service protocol="rest" filter="dubboxGlobalFilter" interface="top.buukle.api.inner.mc.rest.ButtonService" ref="restButtonServiceImpl" version="1.0.1" group="buukle-mc" timeout="${dubbo.timeout}"> </dubbo:service>

    <!--声明&发布 restRoleService rest 服务接口-->
    <bean id="restRoleService" class="top.buukle.provider.mc.service.rest.RestRoleServiceImpl"/>
    <dubbo:service protocol="rest" filter="dubboxGlobalFilter" interface="top.buukle.api.inner.mc.rest.RoleService" ref="restRoleService" version="1.0.1" group="buukle-mc" timeout="${dubbo.timeout}"> </dubbo:service>

    <!-- ================================================== dubbo rpc =================================================== -->

    <bean id="userService" class="top.buukle.provider.mc.service.impl.UserServiceImpl"/>
    <!--发布 userService rpc 服务接口-->
    <dubbo:service protocol="dubbo" interface="top.buukle.api.inner.mc.UserService" ref="userService" version="1.0.1" group="buukle-mc" timeout="${dubbo.timeout}"> </dubbo:service>

</beans>