<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

<dubbo:application name="buukle-provider-mc" owner="${dubbo.owner}"/>

    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.center}"/>

    <dubbo:protocol name="dubbo" port="${dubbo.port}" threadpool="cached" threads="1000" accepts="2000" serialization="java"/>

    <dubbo:protocol name="rest" extension="top.buukle.common.exception.GlobalExceptionMapper" port="${dubbo.rest.port}" threads="500" server="jetty" accepts="500"/>

    <!-- ================================================ 发布服务 ==================================================== -->
    <!-- _________________________________________ rest ______________________________________________ -->

    <!--发布 userSsoBussiness rest 服务接口-->
    <bean id="userSsoBusinessRest" class="top.buukle.provider.sso.business.impl.rest.RestUserSsoBusinessImpl"/>
    <dubbo:service protocol="rest" interface="top.buukle.api.out.sso.rest.UserSsoBusiness" ref="userSsoBusinessRest" version="1.0.1" group="buukle-sso" timeout="${dubbo.timeout}"> </dubbo:service>

    <!-- _________________________________________ dubbo rpc _________________________________________ -->

    <!--发布 userSsoBussiness rpc 服务接口-->
    <bean id="userSsoBusiness" class="top.buukle.provider.sso.business.impl.UserSsoBusinessImpl"/>
    <dubbo:service protocol="dubbo" interface="top.buukle.api.out.sso.UserSsoBusiness" ref="userSsoBusiness" version="1.0.1" group="buukle-sso" timeout="${dubbo.timeout}"> </dubbo:service>

    <!-- ================================================ 引入服务 ==================================================== -->

    <!--&lt;!&ndash;引用 mc userService dubbo协议服务 &ndash;&gt;
    <dubbo:reference id="userService" interface="top.buukle.api.inner.mc.UserService" version="1.0.1" group="buukle-mc"/>-->
</beans>