.layui-main {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding: 100px 0;
    background-color: #fff;
}
.layui-main .layui-form {
   width: 350px;
   margin: 0 auto;
}
.layui-text-center {
    text-align: center;
}