<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/zElog/css/form.css">
    <link rel="stylesheet" href="" id="btnThemeCss">
</head>
<body>
 <div class="layui-tab layui-tab-brief" lay-filter="user">
      <div class="layui-tab-content">
      <!--搜索条件-->
      <form id="searchForm" class="buukle-data-form">
          <div class="buukle-search-name">
              <span class="form-span fuzzy-body">文章题目 : </span>
              <input id="fuzzy-index-0" class="buukle-input search-condition fuzzy-input" data-fuzzyUrl="/article/fuzzySearchArticleInfoDraftByTitle" type="text" name="name" placeholder="请输入文章题目" autocomplete="off"  >
          </div>
          <div id="searchTime" class="buukle-search-time">
              <span class="form-span">创建时间 :</span>
              <input id="startTime" class="buukle-input search-condition" type="text" name="startTime" placeholder="起始时间" autocomplete="off"  >
              <span class="form-span">--</span>
              <input id="endTime" class="buukle-input search-condition" type="text" name="endTime" placeholder="结束时间" autocomplete="off"  >
          </div>
          <div id="pageLevelButton" class="pageLevelButton">
              <span  class="layui-btn search-btn theme-btn" id="searchBtn" value="">搜索</span>
              <span  class="layui-btn empty-btn layui-btn-primary" id="emptyBtn">清空</span>
          </div>
      </form>
        <!--模糊搜索-->
        <div class="fuzzySearchDiv" id="fuuzyDiv-id-0" data-fuuzyIndex="0"> </div>
        <!--数据列表-->
        <div class="layui-tab-content" style="width: 98%;">
          <table id="table" class="layui-table" lay-size="lg"> </table>
        </div>
      </div>
     <!--详情-->
     <div class="detail crud" id="detail" style="display: none;">
         <table class="data-table">
             <tr>
                 <td class="table-property-name">题目</td>
                 <td class="table-property-value"><input type="text" disabled  class="buukle-frame-input" id="title"></td>
                 <td class="table-property-name">作者</td>
                 <td class="table-property-value"><input type="text" disabled  class="buukle-frame-input" id="ariticleAuthor"></td>
             </tr>
             <tr>
                 <td class="table-property-name">创建时间</td>
                 <td class="table-property-value"><input type="text" disabled class="buukle-frame-input" id="creatTime"></td>
                 <td class="table-property-name">更新时间</td>
                 <td class="table-property-value"> <input type="text" disabled class="buukle-frame-input" id="updateTime"></td>
             </tr>
             <tr>
                 <td class="table-property-name">赞数</td>
                 <td class="table-property-value"><input type="text" disabled class="buukle-frame-input" id="likeNumber"></td>
                 <td class="table-property-name">类别</td>
                 <td class="table-property-value"><input type="text" disabled class="buukle-frame-input" id="property01"></td>
             </tr>
             <tr>
                 <td class="table-property-name">状态</td>
                 <td class="table-property-value"><input type="text" disabled class="buukle-frame-input" id="state"></td>
                 <td class="table-property-name">浏览量</td>
                 <td class="table-property-value"><input type="text" disabled class="buukle-frame-input" id="property02"></td>
             </tr>
             <tr>
                 <td class="table-property-name">摘要</td>
                 <td class="table-property-value"><textarea type="text" disabled class="buukle-frame-textarea" id="articleDesc"></textarea></td>
             </tr>
         </table>
         <div class="buukle-frame-button" style="margin-top: 77px;">
             <button class="layui-btn layui-btn-primary layui-layer-close">返回</button>
         </div>
     </div>
     <!--继续编辑-->
     <div class="hiddenForm" id="add">
         <form id="addArticleForm" style="height: 312px;">
             <span style="margin-left: 583px;">正文</span>
             <table class="data-article-table">
                 <tr>
                     <td class="table-property-name">题目 : </td>
                     <td class="table-property-value">
                         <input placeholder="请输入题目(限32字)" type="text" required name="title" class="buukle-article-add buukle-frame-input" id="add-title">
                         <span style="color: red">注:仅支持<span style="color: lightslategrey">[</span>(),-_: <span style="color: lightslategrey">]</span>特殊符号</span>
                         <span id="titleErrorMsg" style="color: red"></span>
                     </td>
                 </tr>
                 <tr>
                     <td class="table-property-name">类别 : </td>
                     <td class="table-property-value">
                         <input placeholder="请点击选择文章类别" type="text" required name="articleCat" class="buukle-article-add buukle-frame-input" id="add-property01">
                         <input id="pid" type="hidden" name="property01"  class="add-input buukle-article-add" readonly>
                         <span id="catErrorMsg" style="color: red"></span>
                     </td>
                 </tr>
                 <tr>
                     <td class="table-property-name">摘要 : </td>
                     <td class="table-property-value"><textarea placeholder="限88字内" required maxlength="88" type="text" name="articleDesc" class="buukle-frame-textarea buukle-article-add" id="add-articleDesc"></textarea></td>
                 </tr>
             </table>
             <div class="buukle-article-div">
                 <textarea type="text" name="articleContent" class="buukle-article-add" style="display: none;" id="add-articleContent"></textarea>
             </div>
         </form>
         <div style="margin-top: -295px;  float: left; margin-left: 97px;">
             <button class="layui-btn back-button buukle-save-btn theme-btn" data-form-id="addArticleForm" id="publishArticle">发布</button>
             <button class="layui-btn back-button  saveBtn" data-form-id="addArticleForm" id="saveArticle">草稿</button>
             <button class="layui-btn layui-btn-primary layui-layer-close back-button" id="cancelAddArticle">取消</button>
         </div>
     </div>
     <!--分类菜单树-->
     <div class="hiddenForm" id="articleCatTree">
         <div id="articleCatDiv">
            <div id="articleCatTreeContain"></div>
         </div>
         <div>
             <button class="layui-btn buukle-choose-father-tree-btn theme-btn" data-form-id="yes" id="yes">确定</button>
         </div>
     </div>
     <!--hidden-->
     <input type="hidden" id="layEditFlag" value="1"> <!--是否开启富文本编辑器标志 1: 是-->
     <input type="hidden" id="currentRecordId"> <!--当前操作的记录id-->
    </div>
    <script src="/static/mods/jquery-3.3.1.min.js"></script>
    <script src=" /static/ztree/js/jquery.ztree.core.js"></script>
    <script src=" /static/ztree/js/jquery.ztree.excheck.js"></script>
    <script src=" /static/ztree/js/jquery.ztree.exedit.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/zElog/js/util/component.js"></script>
    <script src="/static/zElog/js/article/myArticle/myArticleDraftList.js"></script>
</body>
</html>