.layui-layout-admin .layui-theme-black {
    background-color: white!important;
}
.layui-layout-admin .layui-theme-black .layui-logo {
    background-color: white!important;
}
.layui-layout-admin .layui-theme-black .layui-shrink-sidebar:hover {
    background-color: white;
}
.layui-theme-black .layui-nav .layui-nav-item:hover {
    background-color: white;
}

/* LayuiAdmin black theme --- layui-side */

.layui-theme-black .layui-nav {
     background-color: white;
}
.layui-theme-black .layui-nav-tree .layui-nav-item {
    border-bottom: 1px solid #f8eeee;
}
.layui-theme-black .layui-nav-tree .layui-nav-item a {
    border-bottom: 1px solid white;
    color: black !important;
    background-color: white;
}
.layui-theme-black .layui-nav-tree .layui-nav-item:hover {
    background-color: white;
}
.layui-theme-black .layui-nav dd.layui-this a {
    background-color: white!important;
    color: black !important;
}
.layui-theme-black .layui-nav li.layui-this a {
    background-color: white!important;
}
.layui-theme-black .layui-nav-tree .layui-nav-bar {
    background-color: #ea4436;
}
.layui-theme-black .layui-nav-tree .layui-nav-child dd:hover {
    background-color: white;
}
.layui-theme-black .layui-nav-tree .layui-nav-child dd.layui-this {
    background-color: #ea4436!important;

}
.layui-theme-black .layui-nav-tree li.layui-this {
    background-color: white;
}

/* LayuiAdmin black theme --- layui-tab */

.layui-theme-black .layui-tab-title .layui-this {
    background: #19151521;
    color: black !important;
    border-left: 1px solid #ccbebe;
    border-right: 1px solid #ccbebe;
}

.layui-nav .layui-nav-item a{
    display: block;
    padding: 0 20px;
    color: #fff;
    color: rgba(36, 31, 31, 0.7) !important;
    transition: all .3s;
    -webkit-transition: all .3s;
}
