<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/zElog/css/form.css">
    <link rel="stylesheet" href="" id="btnThemeCss">
</head>
<body>
    <table class="layui-table buukle-panel-table layui-anim-upbit layui-anim ">
        <colgroup>
            <col width="150">
            <col width="300">
        </colgroup>
        <thead>
        <tr>
            <th colspan="1" data-theme-url="/static/zElog/css/theme/theme-white.css" class="buukle-panel-table-th">纯白</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="/static/images/table-theme/theme-white.png">
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table buukle-panel-table layui-anim-upbit layui-anim">
        <colgroup>
            <col width="150">
            <col width="300">
        </colgroup>
        <thead>
        <tr>
            <th colspan="1" data-theme-url="/static/zElog/css/theme/theme-black.css" class="buukle-panel-table-th">酷黑</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="/static/images/table-theme/theme-black.png">
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table buukle-panel-table layui-anim-upbit layui-anim">
        <colgroup>
            <col width="150">
            <col width="300">
        </colgroup>
        <thead>
        <tr>
            <th colspan="1" data-theme-url="/static/zElog/css/theme/theme-nigntStar.css" class="buukle-panel-table-th">夜晚星空</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="/static/images/table-theme/theme-nightStar.png">
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table buukle-panel-table layui-anim-upbit layui-anim">
        <colgroup>
            <col width="150">
            <col width="300">
        </colgroup>
        <thead>
        <tr>
            <th colspan="1" data-theme-url="/static/zElog/css/theme/theme-spring.css" class="buukle-panel-table-th">春</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="/static/images/table-theme/theme-spring.png">
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table buukle-panel-table layui-anim-upbit layui-anim">
        <colgroup>
            <col width="150">
            <col width="300">
        </colgroup>
        <thead>
        <tr>
            <th colspan="1" data-theme-url="/static/zElog/css/theme/theme-summer.css" class="buukle-panel-table-th">夏</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="/static/images/table-theme/theme-summer.png">
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table buukle-panel-table layui-anim-upbit layui-anim">
        <colgroup>
            <col width="150">
            <col width="300">
        </colgroup>
        <thead>
        <tr>
            <th colspan="1" data-theme-url="/static/zElog/css/theme/theme-autumn.css" class="buukle-panel-table-th">秋</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="/static/images/table-theme/theme-autum.png">
            </td>
        </tr>
        </tbody>
    </table>
    <table class="layui-table buukle-panel-table layui-anim-upbit layui-anim">
        <colgroup>
            <col width="150">
            <col width="300">
        </colgroup>
        <thead>
        <tr>
            <th colspan="1" data-theme-url="/static/zElog/css/theme/theme-winter.css" class="buukle-panel-table-th">冬</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="/static/images/table-theme/theme-winter.png">
            </td>
        </tr>
        </tbody>
    </table>
    <div class="layui-main">
        <span class="layui-btn right-top-btn theme-btn" data-theme-prepare="" id="switchTheme">保存主题</span>
    </div>
<script src="/static/mods/jquery-3.3.1.min.js"></script>
<script src="/static/layui/layui.all.js"></script>
<script src="/js/theme-document.js"></script>
<script src="/static/zElog/js/util/component.js"></script>
<script src="/static/zElog/js/webSet/themeDocument.js"></script>
</body>
</html>